body{
    margin: 0;
    font-family: 'Roboto Mono', ;
}
.full-header{
    width: 100%;
    
}
h1{
    font-size: 40px;
   
}
#top-banner{
    height: 700px;
}
#top-banner{
    background-image: url("imgs/header-bg.png");
    background-repeat: no-repeat;
    background-size: cover;
}
.dream-area{
    padding-bottom: 50px;
    
}
.dream-area{
    background-image: url("imgs/biography-bg.png");
    background-repeat: no-repeat;
    background-size: cover;
}


p{
    color: gray;
    margin-bottom: 30px;
}
.name-highlight{
    color: #EC4C7A;
}
.half-width{
    padding-left: 100px;
    padding-right: 100px;;
    padding-top: 150px;
    text-align: justify;
    width: 40%;
    float: left;
}
.half-width2{
    padding-top: 40px;
    width: 40%;
    float: left;
}
.half-width2 img{
    width: 100%;
}
.link-button{
    margin-top: 20px;
    text-decoration: none;
    background-color: #EC4F7F;
    padding: 10px 20px;
    border-radius: 5px;
    color: white;
    
}
.link-button:hover{
    background-color: #4a4591ab;
}
section{
    height: 700px;
}
.full_container{
    background-image: url("imgs/latest-work-bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: 600px;
    
}
.full_container{
    margin-top: 100px;
}

.header-center{
    text-align: center;
}

.single_column{
    width: 30%;
    float: left;
    margin-left: 40px;
   
}
.single_column img{
    width: 90%;
}

.single_column h1{
    text-align: center;
    margin-bottom: 60px;
}
.fix_content{
    text-align: center;
}


.fix_content{
    background-image: url("imgs/footer-bg.png");
    background-repeat: no-repeat;
    background-size: cover;
}
.content-wrapper h1{
    padding-bottom: 70px;
}
.content-wrapper h4{
    margin-top: 0;
    color: gray;
}
.contact{
    margin: 50px 200px;
    background-color: #EC4F80;
    padding: 20px;
    padding-top: 40px;
    border-radius: 10px;
}
footer{
    text-align: center;
}